.footer {
    background-image: url("/src/assest/home/footer.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    background-position: center;
  }
  
  .Logo {
    width: 20% !important;
  }
  
  .footer-hover {
    cursor: pointer;
  }
  
  .footer-hover:hover {
    color: orange !important;
  }
  
  
  
  .left-side {
    color: white;
    margin-top: 50px;
  }
  
  .left-side p {
    width: 80%;
    margin-top: 20px;
    text-align: justify;
  }
  
  .footer-bg {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .footer-bg:hover {
    background-color: orange;
    color: white;
  }
  
  .footer-icon {
    font-size: 20px;
  }
  .footer-icons {
    
    display: flex;
    justify-content:space-evenly;
    gap: 25px;
  }
  
  @media only screen and (max-width: 600px) {
 
  
    .footer-icons {
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  


  @media only screen and (max-width: 768px) {
 
  
    .cardz {
      margin: auto;
      }
  }